<nb-card accent="primary">
    <div class="header">
        <nb-card-header>{{title}}</nb-card-header>
        <nb-icon icon="edit-outline" class="edit" [options]="{animation: {type: 'shake'}}" (click)="open()"></nb-icon>
    </div>
    <nb-list>
        <nb-list-item *ngFor="let i of itemList">
                <nb-checkbox [checked]="i.check" disabled>
                    &nbsp;
                </nb-checkbox>
                <span [ngClass]="{'strike': i.check}">{{i.item}}</span>
        </nb-list-item>
    </nb-list>
</nb-card>