.note{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    margin-bottom: 1rem;
}

.strech{
    width: 85%;
}

.header{
    display: flex;
    justify-content: space-between;
}

.strike{
    text-decoration: line-through;
    /* color: whitesmoke; */
    color: rgb(224, 224, 224);
}



.edit{
    margin-top: 10px;
    margin-right: 8px;
    font-size: 25px;
}