.note{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    margin-bottom: 1rem;
}

.strech{
    width: 85%;
}

.header{
    display: flex;
    justify-content: space-between;
}



.edit{
    margin-top: 10px;
    margin-right: 8px;
    font-size: 25px;
}