nb-sidebar{
    transition: width, 0.3s;
}

.header{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    /* justify-content: center; */
    text-align: center;

}
nb-icon{
    height: inherit;
}

.f-size{
    font-size: 1.9rem;
}

@media screen and (max-width: 900px){
    
}