<nb-layout>
    <nb-layout-header fixed>
        <div class="header">
        <nb-icon [icon]="icon" class="f-size" (click)="toggle()"></nb-icon>
        
            <h4>Keepit Notes</h4>
        </div>
    </nb-layout-header>
    <nb-sidebar fixed state="collapsed">
        <button nbButton status="primary">Siddhant</button>
        
    </nb-sidebar>

        
<nb-layout-column>
    <router-outlet></router-outlet>
    <app-add-note></app-add-note>
    <app-home></app-home>
    <!-- <app-detail-card></app-detail-card> -->

    

</nb-layout-column>
</nb-layout>






   