<nb-layout>
    <nb-layout-header fixed>
        <nb-icon [icon]="icon" class="f-size" (click)="toggle()" *ngIf="access.user$ | async"></nb-icon>
        <div class="header">
        
        
            <h4>Keepit Notes</h4>
        </div>
    </nb-layout-header>
    <nb-sidebar fixed state="collapsed" *ngIf="access.user$ | async">
        
        <div class="side">
            <nb-user [name]="name" [title]="email"></nb-user>
            <br>
            <button nbButton status="danger" (click)="logOut()">Sign Out</button>
        </div>
        
        
    </nb-sidebar>

        
    <nb-layout-column (click)="close()">
        <router-outlet></router-outlet>  

    </nb-layout-column>
</nb-layout>






   