nb-sidebar{
    transition: width, 0.3s ease-in-out;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* justify-content: center; */
    text-align: center;

}

.side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
   
}

.side:nth-last-child(1){
    margin-top: auto;
}

nb-icon{
    height: inherit;
}

.f-size{
    font-size: 1.9rem;
}

@media screen and (max-width: 977px){
    
    h4{
        font-size: 35px;
    }
}
