.add{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 1000px;
    
}

.ctrlWidth{
    width: 100%;
}


.strech{
    width: 40%;
}

.f-size{
    font-size: 1.8rem;
}

.strike{
    text-decoration: line-through;
    /* color: whitesmoke; */
    color: rgb(134, 133, 133);
}

.note{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.note-input {
    width: 90%;
    max-width: unset;
}

.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.show {
    display: block;
    /* transform: translateX(100%); */
    transition: all 0.6s ease-out; 
    opacity: 1;
    /* text-align: center; */
}
.noShow{
    display: none;
    /* transform: translateX(0); */
    opacity: 0;
}

@media screen and (max-width: 977px){
    .note-input {
        width: 85%;
    }
    .strech{
        width: 100%;
    }

    .add{
        width: auto;
    }
}

