<div class="add" [ngClass]="{'ctrlWidth': !width}">
    <form [formGroup] = "todoForm" class="strech">

    <nb-card accent="info" > 
        <nb-card-header>
            <input type="text" nbInput placeholder="Title" fullWidth formControlName="title" (keyup)="show()">
        </nb-card-header>
        <nb-card-body  [ngClass]="{'show': isTouch ,'noShow': !isTouch}">
            <div  formArrayName="items">
                <div *ngFor="let it of todoForm.get('items')['controls']; let i=index" [formGroupName]="i" >
                    <div class="note">
                        <nb-checkbox  formControlName="check">  &nbsp;
                        </nb-checkbox>
                        
                        <input type="text" nbInput fullWidth class="note-input" placeholder="List Item" formControlName="item"
                        [ngClass]="{'strike': it.controls.check.value}" > &nbsp;
                        <nb-icon icon="trash-2-outline" status="danger" class="f-size" 
                        [options]="{animation: {type: 'shake'}}" (click)="removeItemList(i)" ></nb-icon>
                    </div>
           
    </div> 
    <nb-icon icon="plus-outline" (click)="addItemList()"></nb-icon>
</div>
    
        </nb-card-body>
        <nb-card-footer   [ngClass]="{'show': isTouch ,'noShow': !isTouch}">
            <div class="foot">
                <button nbButton status="primary"  size="tiny" (click)="save()">Save</button>
                <nb-icon icon="trash-2-outline" *ngIf="width" status="danger" 
                [options]="{animation: {type: 'shake'}}" (click)="deleteNote()"></nb-icon>
                <button nbButton status="warning" size="tiny" (click)="cancel()">Cancel</button>
            </div>
            <div class="danger" *ngIf="errMessage">{{errMessage}}</div>
        </nb-card-footer>
    </nb-card>
</form>
<!-- {{todoForm.value | json}} -->
</div>  